/* Design for mobile phones: */

/* global styles */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
}

.container {
  margin: auto;
  width: 85%;
  text-align: center;
}

.fa-xmark {
  padding: 3px 6px;
  font-size: 26px;
  color: rgba(112, 112, 112, 0.8);
}

.fa-bars:hover,
.fa-xmark:hover {
  cursor: pointer;
}

.fa-xmark:hover {
  color: #0d151e;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.stretch {
  width: 100%;
}

.green {
  color: #008552;
}

.btn-bg-green {
  background-color: #02a869;
  padding: 13px 15px;
  color: #fff;
  border: 1px solid #02a869;
  border-radius: 5px;
  font-size: 18px;
  margin-top: 20px;
}

.btn-bg-green:hover {
  background-color: #008552;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:active {
  background-color: #008552;
}

/* light background-color for buttons */
.bg-light {
  background-color: #fff;
}

/* ash background-color for buttons */
.bg-ash {
  background-color: #ebf0ee;
}

/* flex in column direction */
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* flex in row direction */
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* inline list padding */
.li-padding {
  margin: 8px 3px;
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
}

/* display grid in column direction */
.column-grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* header consist of the header-text and the nav */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  background: #fff;
  width: 100%;
  padding: 20px 30px;
  box-sizing: border-box;
}

.header a {
  color: #28352f;
}

/* hamburger container */
.menu {
  font-size: 22px;
}

/* hamburger */
.nav-links {
  position: fixed;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px 0;
  font-size: 1.5rem;
  font-weight: bold;
  top: 50px;
  left: 0;
  width: 100%;
  height: 78%;
  background-color: #fff;
  border-radius: 0 0 35px 35px;
  z-index: 2;
}

.nav-links li {
  margin: 0 0 35px 35px;
}

.nav-links li a {
  font-weight: 600;
  color: #3a4a42;
}

.nav-links li a:hover {
  font-weight: 600;
  color: #36b37e;
  transition: color 0.2s ease-in-out;
}

.hide {
  visibility: hidden;
}

/* mobile-menu background */
.menu-bg {
  position: relative;
  background-color: #e5e5e5;
  top: 0;
  left: 0;
  width: 100%;
  height: 95vh;
  display: flex;
  align-items: flex-end;
  padding-bottom: 10px;
}

.remove {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

#main-content {
  grid-gap: 30px 0;
}

#profile {
  padding-top: 30%;
  background-image: url(img/header-illsutration-mobile@2x.png);
  background-position: center center;
  background-size: cover;
}

h1,
h2 {
  color: #172b4d;
}

h1 {
  font-size: 40px;
  font-weight: 700;
}

h2 {
  font-size: 39px;
}

#h1-inner-text {
  color: #36b37e;
}

/* medium head-text font-size */
.font-md {
  color: #3a4a42;
  font-size: 30px;
}

/* large paragraph display */
.p-lg,
.p-sm {
  margin: 20px auto;
  font-size: 20px;
  line-height: 28px;
  color: #172b4d;
}

.p-sm {
  font-size: 15px;
  line-height: 24px;
}

/* social media platforms icons */
.social-media-dsk {
  display: none;
}

.social-media {
  margin-top: 30px;
}

.social-media li {
  margin: 0 10px;
}

/* dropdown icon */
#img-icon {
  margin-top: 70px;
}

/* project-section */
hr {
  height: 3px;
  margin: 20px auto;
}

.col-span {
  width: 55%;
  margin: auto;
}

.hr-green {
  width: 45px;
  background-color: #36b37e;
}

/* individual-project container */
#work-section {
  grid-gap: 20px 0;
}

#work-section h2 {
  margin-top: 70px;
}

#contact-me h2 {
  margin-top: 75px;
}

#my-info h2 {
  margin-top: 40px;
}

.project-list {
  height: 60%;
  background-color: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 5px;
  margin-bottom: 20px;
  justify-content: space-between;
}

.project-img {
  height: 200px;
  border-radius: 15px;
  border: 1px solid #ebf0ee;
}

.project-list img {
  width: 100%;
  height: 40%;
  border-radius: 7px 7px 0 0;
}

.project-list h3 {
  color: #172b4d;
}

/* project info container */
.project-about {
  padding: 20px 5px;
  background-color: #fff;
  border-radius: 0 0 8px 8px;
  align-self: flex-end;
  width: 100%;
  box-sizing: border-box;
}

.project-about:first-child {
  height: 100%;
  box-sizing: border-box;
}

.about-card {
  width: 100%;
  background-color: #ebf0ee;
  border-radius: 7px;
  border: 1px solid #c1c7d0;
  padding: 40px 0;
  margin-top: 30px;
}

.about-card li {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
}

.about-card ul,
.project-about ul {
  flex-wrap: wrap;
}

.project-about li,
#popup-window li {
  font-weight: 600;
  color: #172b4d;
  font-size: 12px;
}

.div {
  background-image: url(img/illustration-about-me-mobile.png), url(img/Mask-Group.png);
  background-repeat: no-repeat;
  background-position: bottom left, top right;
}

.abt-me {
  padding-top: 35px;
}

#popup-window h2 {
  font-size: 1.5em;
}

/* contact info */
#contact-me {
  background-image: url(img/Frame.png);
  background-position: bottom right;
  background-repeat: no-repeat;
}

#contact-me > div h2 {
  margin-bottom: 40px;
}

form {
  font-family: Arial, Helvetica, sans-serif;
}

input,
textarea {
  padding: 12px;
  font-size: 90%;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 20px;
}

input {
  border: 1px solid #d0d9d4;
}

textarea {
  font-family: inherit;
  max-width: 100%;
  min-width: 100%;
  border: 1px solid #36b37f;
}

input:focus,
textarea:focus {
  outline: none;
}

textarea::placeholder {
  color: #000;
}

footer {
  margin-top: 20px;
  font-size: 20px;
}

.email-link {
  color: #42526e;
}

footer .email-link,
footer .hr {
  display: block;
}

.hr-dark {
  margin-top: 80px;
  width: 35%;
  background-color: #0d151e;
}

#popup-window {
  background-color: rgba(193, 199, 208, 0.7);
  backdrop-filter: blur(7px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 3;
  padding: 20px;
  box-sizing: border-box;
  overflow: auto;
}

#popup-window > div {
  background-color: #fff;
}

.bi-x-circle-fill {
  z-index: 2;
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  right: -15px;
  top: -15px;
  font-size: 30px;
  background: floralwhite;
  margin: 2px;
}

#popup-window #popup-btn {
  padding: 10px;
}

#popup-window > div > div {
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  top: 0;
  text-align: left;
}

#popup-window p {
  line-height: 24px;
  font-size: 14px;
  color: #344563;
}

#popup-window > div > div ul,
#popup-window > div > div div {
  margin: 0;
}

.btn-action {
  justify-content: space-between;
}

#popup-window button {
  letter-spacing: 1.5px;
  padding: 18px 13px;
}

#popup-window button:hover {
  background-color: #008552;
}

#popup-window button a {
  gap: 5px;
  font-size: 14px;
  color: #fff;
}

#popup-window > div > div ul {
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: flex-start;
}

.error {
  border: 1px solid;
  margin: 10px 0;
  padding: 10px;
  display: flex;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 10px;
  background-repeat: no-repeat;
  background-position: 10px center;
  color: #00529b;
  background-color: #bde5f8;
}

.error i {
  font-size: 22px;
}

@media only screen and (min-width: 480px) {
  .container-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    width: 90%;
    gap: 15px;
    margin: auto;
  }

  .project-list {
    margin-bottom: 0;
    background-color: #fff;
    width: 100%;
    height: 630px;
    box-shadow: 5px -3px 18px -5px grey;
  }
}

@media only screen and (min-width: 768px) {
  /* Design for desktop: */
  .header {
    position: absolute;
    background: 0;
    justify-content: center;
    width: 100%;
  }

  .header a {
    color: #172b4d;
  }

  .header a:active {
    color: #172b4d;
  }

  h3 {
    font-size: 35px;
  }

  .menu,
  header h3 {
    display: none;
  }

  nav li {
    margin: 0;
    color: #172b4d;
    font-weight: bold;
    padding: 0 20px;
  }

  main {
    background-image: url(img/main.png), url(img/main-2.png);
    background-repeat: no-repeat;
    background-position: bottom left, bottom right;
    padding-bottom: 50px;
  }

  /* desktop-social-media links */
  .social-media {
    display: none;
  }

  .social-media-dsk {
    display: block;
    display: flex;
    margin: 20px;
  }

  .social-media-dsk li {
    margin: 0 10px;
  }

  #profile {
    padding-top: 10%;
    background-image: url(img/Header-llustration-desktop.png);
    background-position: center top;
    height: 650px;
    padding-bottom: 70px;
  }

  #profile > div {
    padding-top: 50px;
    width: 60%;
  }

  .p-lg {
    font-size: 18px;
    line-height: 1.5;
  }

  #img-icon {
    margin-top: 50px;
  }

  .nav-links {
    justify-content: center;
    align-items: center;
    margin: 0;
    visibility: visible;
    flex-direction: row;
    background: none;
    position: relative;
    top: 0;
    padding: 20px;
    font-size: 16px;
  }

  .nav-links li {
    margin-left: 0;
    padding: 0 15px;
  }

  .menu-bg {
    display: none;
  }

  /* work section */
  #work-section {
    padding-top: 100px;
  }

  #work-section h2 {
    margin-bottom: 20px;
    margin-top: 0;
  }

  #my-info h2 {
    margin-top: 0;
  }

  hr {
    display: none;
  }

  .container-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-content: space-between;
    width: 85%;
    margin: auto;
  }

  .project-list:hover {
    transform: scale(1.03);
    position: relative;
    transition: all 0.5s ease;
  }

  #popup-window h2 {
    font-size: 35px;
  }

  .project-list img {
    width: 100%;
  }

  .project-about {
    padding: 20px 10px;
    gap: 5px 0;
  }

  .project-about li {
    font-size: 13px;
  }

  /* about me section background-image */
  .div {
    background-image: url(img/illustration-about-me-2-desktop.png), url(img/illustration-about-me_desktop.png);
    background-position: bottom left, top right;
  }

  #my-info {
    width: 60%;
  }

  #about-section {
    padding-top: 70px;
  }

  #about-section > ul {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 0 20px;
  }

  .mynav li {
    margin: 20px;
  }

  #about-section > li {
    height: 250px;
    width: 32%;
    font-size: 14px;
  }

  /* contact-me section */
  #contact-me {
    padding-top: 100px;
    background-image: none;
  }

  #contact-me > div {
    flex-direction: row;
  }

  #contact-me > div h2 {
    margin-top: 0;
    width: 70%;
    font-size: 27px;
    line-height: 1.5;
    background-image: url(img/illustration-2-contact-form-desktop@2x.png);
    background-position: bottom;
    background-size: 100px;
    background-repeat: no-repeat;
    padding-bottom: 250px;
    padding-top: 80px;
    align-self: flex-end;
  }

  /* form */
  #contact-me form {
    align-self: flex-start;
    margin-left: 20px;
    align-items: flex-start;
  }

  #contact-me form textarea {
    resize: none;
  }

  #contact-me ul {
    display: none;
  }

  /* footer */
  footer {
    border-top: 1px solid #dfe1e6;
  }

  footer .email-link,
  footer .hr {
    display: none;
  }

  button:active {
    background-color: #008552;
  }

  .social-media-dsk img:hover {
    transition: 0.3s;
    opacity: 0.8;
  }

  #popup-window > div {
    background-color: #fff;
    position: relative;
    top: 0;
    width: 40%;
    margin: auto;
    border-radius: 5px;
    padding: 9px;
  }

  .project-img {
    height: 250px;
    margin-bottom: 0;
  }

  #popup-window > div > div ul,
  #popup-window > div > div div {
    margin: 10px 0;
  }

  #popup-window p {
    font-size: 14px;
    color: #344563;
    position: relative;
  }

  .btn-action {
    align-self: flex-start;
    justify-content: flex-end;
    gap: 10px;
  }

  #popup-window button {
    letter-spacing: 1.5px;
    font-size: 10px;
    padding: 5px;
  }

  #popup-window button img {
    height: 10px;
    width: 10px;
  }

  #popup-window button a {
    gap: 5px;
    color: #fff;
  }

  .btn-lg {
    right: -50px;
    top: -10px;
  }

  .bi-x-circle-fill {
    right: -20px;
    top: -20px;
  }
  .bi-x-circle-fill:hover {
    cursor: pointer;
  }

  #closemenu-mobile {
    display: none;
  }

  /* animation */
  .about h1 {
    animation: header;
  }

  #profile > div p {
    animation: ptext;
  }

  .about h1,
  #profile > div p {
    animation-duration: 3s;
    position: relative;
  }

  @keyframes header {
    0% {
      scale: 0;
    }

    100% {
      scale: 1;
    }
  }

  @keyframes ptext {
    0% {
      scale: 0;
    }

    100% {
      scale: 1;
    }
  }

  .mynav {
    height: 30px;
    position: fixed;
    transition: 0.3s ease-in-out;
    width: 100%;
    padding: 30px;
    z-index: 2;
    box-sizing: border-box;
  }

  .nav-active {
    background-color: #fff;
    box-shadow: 5px -1px 12px -5px grey;
    border-radius: 0;
  }
}
